@import url("https://fonts.cdnfonts.com/css/adventure-time-logo");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/bg-adventure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  scrollbar-width: thin;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
